<div class="offsite-links">

    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}" class="circle" target="_blank">
        <i class="icon-twitter" aria-hidden="true"></i>
        <span class="screen-reader-text">Twitter</span>
    </a>
    {% endif %}

    {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="circle" target="_blank">
        <i class="icon-linkedin" aria-hidden="true"></i>
        <span class="screen-reader-text">Linkedin</span>
    </a>
    {% endif %}

    {% if site.github %}    
    <a href="https://github.com/{{ site.github }}" class="circle" target="_blank">
        <i class="icon-github" aria-hidden="true"></i>
        <span class="screen-reader-text">GitHub</span>
    </a>
    {% endif %}
    
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" class="circle" target="_blank">
        <i class="icon-github" aria-hidden="true"></i>
        <span class="screen-reader-text">GitHub</span>
    </a>
    {% endif %}
    
    {% if site.googlescholar %}
    <a href="https://scholar.google.com/{{ site.googlescholar }}" class="circle" target="_blank">
        <i class="ai ai-google-scholar" aria-hidden="true"></i>
        <span class="screen-reader-text">Googlescholar</span>
    </a>
    {% endif %}

</div><!-- .offsite-links -->
